@import '../../../scss/variables.scss';

.cart {
  background-color: $primary-background;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s, padding 0.2s;

  &:hover,
  &.active {
    background-color: $secondary-background;
    padding: 1.3em 1em 1.3em 1em;
  }

  

  &__remove {
    transition: background-color 0.2s;
    &:hover {
      background-color: $primary-background;
    }
  }

  &__modal {
    &-header {
      display: flex;
      justify-content: space-between;
      padding: 1em;
      background-color: $primary-background;
      color: #fff;
      text-transform: uppercase;
    }
    &-prompt {
      padding: 3em 1em;
    }
    &-actions {
      padding: 1em;
      display: flex;
      justify-content: flex-end;
    }
    &-btn {
      font-size: 1rem;
      margin: 0.5em;
      padding: 0.5em 1em;
    }
    &-cancel {
      transition: background-color 0.2s;
      &:hover {
        background-color: $error;
      }
    }
    &-confirm {
      transition: background-color 0.2s;
      &:hover {
        background-color: $error-hover;
      }
    }
  }
}
