@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.carts {
  background-color: $primary-background;
  width: 30rem;
  color: #fff;
  max-height: 100%;
  overflow: auto;
  position: relative;

  &__button {
    width: 100%;
    padding: 1em;
    font-size: 1.5rem;
    transition: background-color 0.2s;
    &:hover {
      background-color: $secondary-background;
    }
  }
}
