@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.carts {
  background-color: $primary-background;
  width: 30rem;
  color: #fff;
  max-height: 100%;
  overflow: scroll;
  position: relative;
}
