.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a0842;
  width: 100%;
  transition: background-color 0.2s;
  &__id {
    padding: 1em 1.5em;
  }
  &__info {
    padding: 1em 1.5em;
  }
  &__btn {
    appearance: none;
    background-color: transparent;
    border: none;
    margin: 1em 1em 1em 0;
    padding: 0.5em;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
    &:hover {
      background-color: #2a0842;
    }
  }

  &:hover {
    background-color: #542a72;
    cursor: pointer;
  }
}
