.product-item {
  width: 50%;
  padding: 1rem;
  &__heading {
    margin-bottom: 1.5rem;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__total {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
  }
}
