@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.cart {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__confirm {
    width: 100%;
    color: #fff;
    font-size: 1.2rem;
    transition: background-color .2s;
    &:hover {
      background-color: $primary-background;
    }
  }
}
